# Alias IDEs
alias unpack="sudo tar -xvzf"
alias idea="/opt/intellij-idea/bin/idea.sh"
alias ideau="cls && sudo -E /opt/intellij-idea/bin/idea.sh" #sudo for update
alias webstorm="/opt/webstorm/bin/webstorm.sh"
alias webstormu="cls && sudo -E /opt/webstorm/bin/webstorm.sh" #sudo for update
alias webstormeap="/opt/webstorm-eap/bin/webstorm.sh"
alias webstormeapu="cls && sudo -E /opt/webstorm-eap/bin/webstorm.sh" #sudo for update

# Alias terminal utils
alias cls="clear"
alias refresh="fish"
alias ll='ls -hnap --group-directories-first --color=auto'

# Alias navigation
alias meetup="cd ~/development/projects/meetup"
alias github="cd ~/development/projects/github"
alias ax="cd ~/development/projects/angular-experts-io"
alias cust="cd ~/development/projects/customers"
alias ebook="cd ~/development/projects/angular-experts-io/ebook-angular-enterprise-architecture"
alias arch="cd ~/development/projects/angular-experts-io/angular-enterprise-architecture-example"
alias axw="cd ~/development/projects/angular-experts-io/angular-experts-website"
alias axws="cd ~/development/projects/angular-experts-io/angular-experts-website && npm start"
alias modern="cd ~/development/projects/angular-experts-io/modern-angular-workshop && cls"
alias rxjs="cd ~/development/projects/github/rxjs-workshop-presentation && npm run dev"
alias mobi="cd ~/development/projects/mobi"
alias uxf="cd ~/development/projects/mobi/rwc-uxframework-ng-jslib"
alias b2c="cd ~/development/projects/mobi/rwc-b2c-components-ng-jslib"
alias cli="cd ~/development/projects/mobi/rwc-cli-jslib"
alias ui="cd ~/development/projects/mobi/rwc-ui-components-ng-jslib"
alias ob="cd ~/development/projects/omniboard"
alias obmobi="mobi && cd rwc-codequeries && npm start"
alias obapp="cd ~/development/projects/omniboard && npm run start:app"
alias obapi="cd ~/development/projects/omniboard && npm run start:api"
alias obwww="cd ~/development/projects/omniboard/apps/public && npm start"
alias obcli="cd ~/development/projects/github/analyzer && npm run watch"
alias obmobi="npx omniboard --ak <key>"

# Alias frontend utils
alias fmt="npm run format:write"
alias fmtx="nx format:write"
alias main="git checkout main --force && git pull && npm ci --force"
alias master="git checkout master --force && git pull && npm ci --force"

# Alias GIT
alias gs='git status'
alias gitmobi="git config --add user.name 'Herich Tomas (U803909)' && git config --add user.email tomas.herich@mobi.ch"
alias gitmobiamend="gitmobi && git commit --amend --reset-author"
alias gitoss="git config --add user.name tomastrajan && git config --add user.email tomas.trajan@gmail.com"
alias glog='git log --graph --abbrev-commit --decorate --format=format:"%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)" --all'

